@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script:wght@500&family=Edu+SA+Beginner:wght@400;500&family=Odibee+Sans&family=Roboto:wght@300;400&family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@font-face {
  font-family: "UTM-Banque";
  src: url(../styles/UTM\ BanqueB.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UTM Alberta Heavy";
  src: url(../styles/00008-UTM-Alberta-Heavy.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UTM Alexander";
  src: url(../styles/UTM\ Alexander.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

@media (min-width: 992px) {
  .container {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 740px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
  }
}
.header .header__top {
  height: 40px;
  background-color: #121212;
}

.header .header__top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__top .header__top-phone {
  margin: 0;
  padding: 0;
  line-height: 40px;
}

.header .header__top .header__top-icon {
  line-height: 40px;
}

.header .header__top .header__top-phone li {
  list-style: none;
  display: inline-block;
  font-size: 12px;
  padding-right: 30px;
}

.header .header__top .header__top-phone li,
.header .header__top .header__top-icon {
  color: #fff;
  font-weight: 300;
}

.header .header__top .header__top-phone li i {
  color: #1ECB15;
  padding-right: 5px;
}

.header .header__top .header__top-icon i {
  padding-left: 15px;
}

.header__bottom {
  background-color: #fff;
}

.header .header__bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__bottom .container .box:nth-child(2) img {
  max-width: 112px;
}

.header .header__bottom .container .box:nth-child(3) ul li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  color: #222222;
  font-weight: 700;
  font-size: 14px;
  padding: 0 20px;
  line-height: 80px;
}

.header .header__bottom .container .box:nth-child(3) ul li {
  position: relative;
}

.header .header__bottom .container .box:nth-child(3) ul li:first-child {
  color: #1ECB15;
}

.header .header__bottom .container .box:nth-child(3) ul li:first-child::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #1ECB15;
  bottom: 0;
  left: 0;
  z-index: 100;
  right: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.header .header__bottom .container .box:nth-child(3) ul li::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #1ECB15;
  bottom: 0;
  left: 0;
  z-index: 100;
  right: 0;
  margin: 0 auto;
  width: 0;
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition: width 0.2s ease;
}

.header .header__bottom .container .box:nth-child(3) ul li:hover::after {
  width: 100%;
}

.header .header__bottom .container .box:nth-child(3) ul li:hover {
  color: #1ECB15;
}

.header .header__bottom .container .box:nth-child(3) ul li:nth-child(3) i {
  font-size: 10px;
}

.header .header__bottom .container .box:nth-child(4) a {
  text-decoration: none;
  color: #fff;
  background-color: #1ECB15;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 7px 22px;
  font-weight: 700;
}

.header .header__bottom .container .box:nth-child(3) ul {
  margin: 0;
  padding: 0;
}

.fa-xmark {
  display: none !important;
}

.fa-bars {
  display: none !important;
}

@media (max-width: 740px) {
  .header .header__top {
    display: none;
  }
  .header .header__bottom .container .box:nth-child(3) ul li {
    padding: 10px 20px;
    line-height: 30px;
    color: #fff;
  }
  .header .header__bottom .container .box:nth-child(3) ul {
    flex-direction: column;
    z-index: 1000;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    display: flex;
    transform: translateX(-100%);
    position: fixed;
    height: 100%;
    transition: 0.5s;
  }
  .open-bar {
    transform: translateX(0) !important;
  }
  .header .header__bottom .container {
    padding: 10px 0;
  }
  .fa-xmark {
    color: #fff;
    position: absolute;
    padding: 17px;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    display: block !important;
    cursor: pointer;
  }
  .fa-bars {
    display: block !important;
    font-size: 20px;
    cursor: pointer;
  }
  .header__bottom {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    right: 0;
  }
}
#vanAnh {
  cursor: pointer;
}

.header__bottom {
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.15);
}

.content .content__banner {
  background: url(../img/bannergreen-removebg.png) center/cover;
  height: 560px;
  position: relative;
}

.content .content__banner .content__banner-text .container {
  padding-top: 50px;
}

.content .content__banner .content__banner-text .container .div {
  width: 50%;
  position: absolute;
  z-index: 1;
}

.content .content__banner .content__banner-text .container .div button {
  background-color: rgb(30, 203, 21);
  padding: 11px 38px;
  border-radius: 100px;
  border: 2px solid #FFD600;
  font-weight: 800;
  text-align: center;
  transform: translate(100px, 50px);
  position: relative;
  color: rgb(3, 27, 78);
}

.content .content__banner .content__banner-text .container .div button::before,
.content .content__banner .content__banner-text .container .div button::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 0;
  left: 54px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.content .content__banner .content__banner-text .container .div button::before {
  bottom: -2px;
  border-bottom: 2px solid rgb(3, 27, 78);
}

.content .content__banner .content__banner-text .container .div button::after {
  top: -2px;
  border-top: 2px solid rgb(3, 27, 78);
}

.content .content__banner .content__banner-text .container h2#car {
  font-weight: 700;
  color: #fff;
  font-family: "UTM-Banque", sans-serif;
  margin: 0;
}

.content .content__banner .content__banner-text .container h1#text-car {
  font-weight: 700;
  font-family: "UTM-Banque", sans-serif;
  color: #FFD600;
  font-size: 50px;
  margin: 0;
}

.content .content__banner .content__banner-text .container h1#tag {
  font-weight: 700;
  font-family: "UTM-Banque", sans-serif;
  color: #fff;
  font-size: 45px;
  margin: 0;
}

.content .content__banner .content__banner-text .container h2 {
  font-weight: 700;
  color: #FFD600;
  margin-top: 0;
}

.content .content__banner .content__banner-text .container p {
  margin: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  width: 80%;
  line-height: 20px;
}

.content .content__banner .content__banner-text .container {
  position: relative;
}

.content .content__banner .radial {
  width: 350px;
  height: 350px;
  background-image: radial-gradient(circle closest-side at 50% 50%, rgba(30, 203, 21, 0.81), rgba(30, 203, 21, 0));
  position: absolute;
  top: 40px;
  left: 280px;
}

.linear-left,
.linear-right {
  position: absolute;
  top: 0;
  width: 6px;
  height: 197px;
  background-image: linear-gradient(to bottom, rgba(222, 222, 222, 0), rgb(222, 222, 222), rgba(222, 222, 222, 0));
}

.linear-left {
  left: -60px;
}

.linear-right {
  left: -15px;
}

.linear-mid {
  position: absolute;
  width: 28px;
  height: 197px;
  top: 0;
  left: -49px;
  background-image: linear-gradient(to bottom, rgba(30, 203, 21, 0), rgb(30, 203, 21), rgba(30, 203, 21, 0));
}

.content .content__banner .content__banner-text .container .sale {
  position: absolute;
  left: 600px;
  border: 4px solid #fff;
  border-radius: 100%;
  width: 132px;
  height: 132px;
  background-color: rgb(30, 203, 21);
}

.content .content__banner .content__banner-text .container .sale button {
  font-size: 10px;
  font-weight: 800;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  padding: 5px 8px;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}

.content .content__banner .content__banner-text .container .sale button::before {
  width: 56px;
  height: 28px;
  border: 3px solid rgb(6, 33, 50);
  border-radius: 100%;
  position: absolute;
  content: "";
  left: 11px;
  top: -16px;
  border-radius: 50px 50px 0 0;
  z-index: -1;
}

.content .content__banner .content__banner-text .container .sale .box {
  text-align: center;
  transform: translateY(26px);
}

.content .content__banner .content__banner-text .container .sale h1#percent {
  font-family: "UTM Alexander";
  font-size: 50px;
  margin: 0;
  text-align: center;
  font-weight: 500;
  transform: translateY(-10px);
}

.content .content__banner .content__banner-text .container .sale h1#off {
  font-family: "UTM-Banque", sans-serif;
  color: #fff;
  font-size: 23px;
  margin: 0;
  text-align: center;
  transform: translateY(-20px);
}

.content .content__banner .content__banner-text .container .img-car {
  position: absolute;
  right: 0;
  top: 200px;
}

.content .content__banner .content__banner-text .container .img-car img {
  max-width: 660px;
  transform: translateX(15px);
  animation: moveLeft 1s;
}

@keyframes moveLeft {
  from {
    transform: translate(100%, -50%);
    opacity: 0.1;
  }
  to {
    transform: translateX(15px);
    opacity: 1;
  }
}
.content .content__banner .content__banner-text .container svg#front {
  position: absolute;
  left: 559px;
  top: 190px;
}

.content .content__banner .content__banner-text .container svg#text {
  position: absolute;
  left: -70px;
  top: 430px;
  max-width: 491px;
}

.content .content__banner .content__banner-text .container svg#linear1 {
  position: absolute;
  left: -70px;
  top: 483px;
  max-width: 491px;
  z-index: 1;
}

.content .content__banner .content__banner-text .container svg#linear2 {
  position: absolute;
  left: -70px;
  top: 483px;
  max-width: 491px;
}

.content .content__banner .cover {
  position: absolute;
  background: rgb(245, 245, 245);
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 560px;
}

.content .content__about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.content .content__about .container .box {
  flex: 1;
}

.content .content__about .container .box:nth-child(1) p {
  color: rgb(77, 91, 123);
  font-size: 14px;
  line-height: 1.5em;
}

.content .content__about .container .box:nth-child(1) span {
  font-weight: 700;
}

.content .content__about .container .box:nth-child(1) h1 {
  font-family: "UTM Alberta Heavy";
  color: rgb(3, 27, 78);
  font-size: 35px;
  transform: translateY(-10px);
  position: relative;
  margin: 0 0 40px 0;
}

.content .content__about .container .box:nth-child(1) p#intro {
  margin-top: 0;
}

.content .content__about .container .box:nth-child(1) h1::before {
  content: "";
  position: absolute;
  width: 15%;
  bottom: -20px;
  height: 3.5px;
  background-color: #1ECB15;
}

.content .content__about .container .box {
  padding: 50px 0;
}

.content .content__about .container .box:nth-child(1) button {
  background-color: #1ECB15;
  border-radius: 50px;
  color: #fff;
  border: none;
  padding: 8px 28px;
  font-weight: 600;
  margin-top: 20px;
}

.content .content__about .container .box:nth-child(2) .infor .parent .parent-child img {
  position: absolute;
}

.content .content__about .container .box:nth-child(2) .infor .parent .parent-child img:nth-child(1) {
  max-width: 100px;
  top: -62px;
  right: 0;
}

.content .content__about .container .box:nth-child(2) .infor .parent .parent-child img:nth-child(2) {
  max-width: 100px;
  top: -50px;
  right: -37px;
}

.content .content__about .container .box:nth-child(2) .infor .parent {
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 35px;
}

.content .content__about .container .box:nth-child(2) .infor .parent .button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.content .content__about .container .box:nth-child(2) .infor .parent button {
  border: none;
  border-radius: 5px;
  background-color: #1ECB15;
  color: #fff;
  font-weight: 600;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
}

.content .content__about .container .box:nth-child(2) .infor .parent .parent-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 20px;
  position: relative;
  margin: 20px;
}

.content .content__about .container .box:nth-child(2) .infor .parent .parent-child .child {
  display: flex;
  flex-direction: column;
}

.content .content__about .container .box:nth-child(2) .infor {
  background: linear-gradient(to bottom, rgb(78, 185, 5), rgb(32, 125, 1));
  padding: 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid rgb(255, 214, 0);
  position: relative;
}

.content .content__about .container .box:nth-child(2) .infor h1 {
  text-align: center;
  position: relative;
  margin-top: 0;
}

.content .content__about .container .box:nth-child(2) .infor h1::before {
  content: "";
  position: absolute;
  width: 10%;
  left: 45%;
  bottom: -15px;
  height: 3.5px;
  background-color: rgb(255, 214, 0);
}

.content .content__about .container .box:nth-child(2) .infor .parent .parent-child .child input {
  border-radius: 5px;
  border: none;
  padding: 6px;
  background-color: transparent;
}

.content .content__about .container .box:nth-child(2) .infor .parent .parent-child .child input:focus {
  outline: none;
}

.content .content__about .container .box:nth-child(2) .infor .parent .parent-child .child .input {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.content .content__about .container .box:nth-child(2) .infor .parent .parent-child .child label {
  margin-bottom: 5px;
}

.content .content__about .container .box:nth-child(2) .infor .parent .parent-child .child .input i {
  margin-left: 7px;
  font-size: 13px;
}

.content .content__about .container .box:nth-child(2) .infor .parent .parent-child .child input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

.content .content__about .container .box:nth-child(2) .infor .parent .parent-child .child input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

.content .content__about .container .box:nth-child(2) .infor .quarter-circle1,
.content .content__about .container .box:nth-child(2) .infor .quarter-circle2,
.content .content__about .container .box:nth-child(2) .infor .quarter-circle3,
.content .content__about .container .box:nth-child(2) .infor .quarter-circle4 {
  width: 23px;
  height: 23px;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
}

.content .content__about .container .box:nth-child(2) .infor .quarter-circle1 {
  border-radius: 100% 0 0 0;
  bottom: -2px;
  right: -2px;
  border-left: 2px solid rgb(255, 214, 0);
  border-top: 2px solid rgb(255, 214, 0);
}

.content .content__about .container .box:nth-child(2) .infor .quarter-circle2 {
  border-radius: 0 100% 0 0;
  bottom: -2px;
  left: -2px;
  border-right: 2px solid rgb(255, 214, 0);
  border-top: 2px solid rgb(255, 214, 0);
}

.content .content__about .container .box:nth-child(2) .infor .quarter-circle3 {
  border-radius: 0 0 100% 0;
  top: -2px;
  left: -2px;
  border-right: 2px solid rgb(255, 214, 0);
  border-bottom: 2px solid rgb(255, 214, 0);
}

.content .content__about .container .box:nth-child(2) .infor .quarter-circle4 {
  border-radius: 0 0 0 100%;
  top: -2px;
  right: -2px;
  border-left: 2px solid rgb(255, 214, 0);
  border-bottom: 2px solid rgb(255, 214, 0);
}

.content .content__service {
  background-color: rgb(245, 245, 245);
}

.content .content__service .container .content__service-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.content .content__service .container .content__service-box .child {
  border-radius: 4px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 2px 2px 10px rgb(221, 221, 221);
  border: 1px solid rgb(221, 221, 221);
}

.content .content__service .container .content__service-box .child .img {
  background-position: center;
  background-size: cover;
  max-width: 100%;
  padding-bottom: 60%;
  border-radius: 4px;
}

.content .content__service .container .content__service-box .child:nth-child(1) .img {
  background-image: url(../img/service_1.jpg);
}

.content .content__service .container .content__service-box .child:nth-child(2) .img {
  background-image: url(../img/service_2.jpg);
}

.content .content__service .container .content__service-box .child:nth-child(3) .img {
  background-image: url(../img/service_3.jpg);
}

.content .content__service .container .content__service-box .child:nth-child(4) .img {
  background-image: url(../img/service_4.jpg);
}

.content .content__service .container .content__service-box .child:nth-child(5) .img {
  background-image: url(../img/service_5.jpg);
}

.content .content__service .container .content__service-box .child:nth-child(6) .img {
  background-image: url(../img/service_6.jpg);
}

.content .content__service .container .content__service-title,
.content .content__choose .container .content__choose-title,
.content .content__home .container .content__home-child .title,
.content .content__location .container .content__location-child .title,
.content .content__news .container .content__news-child .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .content__service .container .content__service-title h1,
.content .content__choose .container .content__choose-title h1,
.content .content__home .container .content__home-child .title h1,
.content .content__location .container .content__location-child .title h1,
.content .content__news .container .content__news-child .title h1 {
  margin: 50px 20px;
  font-size: 27px;
  position: relative;
  color: rgb(3, 27, 78);
}

.content .content__service .container .content__service-title h1::before,
.content .content__choose .container .content__choose-title h1::before,
.content .content__home .container .content__home-child .title h1::before,
.content .content__location .container .content__location-child .title h1::before,
.content .content__news .container .content__news-child .title h1::before {
  position: absolute;
  content: "";
  width: 81px;
  height: 4px;
  background-color: #1ECB15;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.content .content__service .container .content__service-box .child .ct {
  padding: 0 15px 0 15px;
}

.content .content__service .container .content__service-box .child .ct .ct-top .title-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .content__service .container .content__service-box .child .ct .bottom .div {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content .content__service .container .content__service-box .child .ct .ct-top .title-top h3 {
  margin: 10px 0;
}

.content .content__service .container .content__service-box .child .ct .ct-top .title-top div i.fa-heart {
  color: rgb(188, 188, 188);
}

.content .content__service .container .content__service-box .child .ct .ct-top .title-top div span {
  color: rgb(77, 91, 123);
  font-size: 13px;
}

.content .content__service .container .content__service-box .child .ct .ct-top .title-center {
  display: flex;
  align-items: center;
  gap: 20px;
}

.content .content__service .container .content__service-box .child .ct .ct-top .title-center .sit span {
  font-size: 13px;
  font-weight: 600;
}

.content .content__service .container .content__service-box .child .ct .ct-top .title-center .sit i {
  font-size: 15px;
  color: #1ECB15;
}

.content .content__service .container .content__service-box .child .ct .bottom p {
  color: rgb(3, 27, 78);
  font-size: 13px;
  margin: 0;
}

.content .content__service .container .content__service-box .child .ct .ct-top {
  position: relative;
  padding-bottom: 12px;
}

.content .content__service .container .content__service-box .child .ct .ct-top::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.6px;
  background-color: rgb(221, 221, 221);
  bottom: 0;
}

.content .content__service .container .content__service-box .child .ct .bottom {
  padding-top: 12px;
  padding-bottom: 5px;
}

.content .content__service .container .content__service-box .child .ct .bottom .div h3 {
  margin: 10px 0;
  font-size: 17px;
}

.content .content__service .container .content__service-box .child .ct .bottom .div button {
  color: #fff;
  font-weight: 600;
  background-color: #1ECB15;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.content .content__service .container .button,
.content .content__location .container .button {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.content .content__service .container .button button,
.content .content__location .container .button button {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #1ECB15;
  border: none;
  border-radius: 100px;
  padding: 13px 30px;
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.27);
}

.content .content__choose .container .content__choose-center .circle-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.content .content__choose .container .content__choose-center .circle-child .child {
  display: flex;
  align-items: center;
  border-radius: 100px;
  max-width: 300px;
}

.content .content__choose .container .content__choose-center .circle-child:nth-child(2) .child:nth-child(1) {
  background: linear-gradient(to bottom, rgb(12, 171, 175), rgb(2, 174, 178));
  margin-left: 50px;
  position: relative;
}

.content .content__choose .container .content__choose-center .circle-child:nth-child(2) .child:nth-child(1)::before {
  position: absolute;
  content: "";
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 40px;
  height: 40px;
  transform: rotate(-116.5deg);
  background: linear-gradient(to bottom, rgb(12, 171, 175), rgb(2, 174, 178));
  bottom: 4px;
  right: -3px;
  z-index: -1;
}

.content .content__choose .container .content__choose-center .circle-child:nth-child(2) .child:nth-child(2) {
  background: linear-gradient(to bottom, rgb(116, 139, 173), rgb(107, 137, 182));
  margin-right: 50px;
  position: relative;
}

.content .content__choose .container .content__choose-center .circle-child:nth-child(2) .child:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, rgb(116, 139, 173), rgb(107, 137, 182));
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(116.5deg);
  bottom: 4px;
  left: -3px;
  z-index: -1;
}

.content .content__choose .container .content__choose-center .circle-child:nth-child(3) .child:nth-child(1) {
  background: linear-gradient(to bottom, rgb(37, 130, 164), rgb(31, 136, 166));
  position: relative;
}

.content .content__choose .container .content__choose-center .circle-child:nth-child(3) .child:nth-child(1)::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, rgb(37, 130, 164), rgb(31, 136, 166));
  z-index: -1;
  transform: rotate(90deg);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  right: -25px;
}

.content .content__choose .container .content__choose-center .circle-child:nth-child(3) .child:nth-child(2) {
  background: linear-gradient(to bottom, rgb(75, 84, 113), rgb(78, 88, 113));
  position: relative;
}

.content .content__choose .container .content__choose-center .circle-child:nth-child(3) .child:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, rgb(75, 84, 113), rgb(78, 88, 113));
  z-index: -1;
  transform: rotate(-90deg);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  left: -25px;
}

.content .content__choose .container .content__choose-center .circle-child:nth-child(4) .child:nth-child(1) {
  background: linear-gradient(to bottom, rgb(46, 83, 110), rgb(47, 84, 103));
  margin-left: 50px;
  position: relative;
}

.content .content__choose .container .content__choose-center .circle-child:nth-child(4) .child:nth-child(1)::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, rgb(46, 83, 110), rgb(47, 84, 103));
  transform: rotate(296.5deg);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  top: 4px;
  right: -3px;
  z-index: -1;
}

.content .content__choose .container .content__choose-center .circle-child:nth-child(4) .child:nth-child(2) {
  background: linear-gradient(to bottom, rgb(48, 57, 66), rgb(48, 58, 67));
  margin-right: 50px;
  position: relative;
}

.content .content__choose .container .content__choose-center .circle-child:nth-child(4) .child:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, rgb(48, 57, 66), rgb(48, 58, 67));
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(-296.5deg);
  top: 4px;
  left: -3px;
  z-index: -1;
}

.content .content__choose .container .content__choose-center .circle-child .child:nth-child(1) .box {
  background-color: #fff;
  border-radius: 100%;
  padding: 22px 24px;
  margin-right: 12px;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.content .content__choose .container .content__choose-center .circle-child .child:nth-child(2) .box {
  background-color: #fff;
  border-radius: 100%;
  padding: 22px 24px;
  margin-left: 12px;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.content .content__choose .container .content__choose-center .circle-child .child .box img {
  max-width: 43px;
}

.content .content__choose .container .content__choose-center .circle-child:nth-child(2) .child:nth-child(1) .tag,
.content .content__choose .container .content__choose-center .circle-child:nth-child(3) .child:nth-child(1) .tag,
.content .content__choose .container .content__choose-center .circle-child:nth-child(4) .child:nth-child(1) .tag {
  padding: 20px 15px 20px 40px;
  margin: 0;
  color: #fff;
}

.content .content__choose .container .content__choose-center .circle-child:nth-child(2) .child:nth-child(2) .tag,
.content .content__choose .container .content__choose-center .circle-child:nth-child(3) .child:nth-child(2) .tag,
.content .content__choose .container .content__choose-center .circle-child:nth-child(4) .child:nth-child(2) .tag {
  padding: 20px 40px 20px 15px;
  margin: 0;
  color: #fff;
}

.content .content__choose .container .content__choose-center .circle-child .child .tag p {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 5px 0 0 0;
}

.content .content__choose .container .content__choose-center .circle-child .child .tag h4 {
  margin: 0;
}

.content .content__choose .container .content__choose-center {
  position: relative;
}

.content .content__choose .container .content__choose-center .circle-center {
  position: absolute;
  width: 308px;
  height: 308px;
  display: flex;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: inset -1px 0 2px 0 rgba(0, 0, 0, 0.3), 1px 5px 10px 0 rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content .content__choose .container .content__choose-center .circle-center img {
  max-width: 228px;
}

.content .content__choose .container .content__choose-center .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 375px;
  height: 375px;
  border: 2px dashed rgb(123, 123, 123);
  background-color: transparent;
}

.content .content__choose .container .content__choose-center .center .circle-small {
  position: absolute;
  width: 28px;
  height: 28px;
  border-width: 3px;
  border-style: solid;
  background: #fff;
  border-radius: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.content .content__choose .container .content__choose-center .center .circle-small:nth-child(2) {
  border-color: #0aacb0;
  transform: translate(16px, 69px);
}

.content .content__choose .container .content__choose-center .center .circle-small:nth-child(2)::before {
  background: linear-gradient(to bottom, rgb(12, 171, 175), rgb(2, 174, 178));
}

.content .content__choose .container .content__choose-center .center .circle-small::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content .content__choose .container .content__choose-center .center .circle-small:nth-child(3) {
  border-color: rgb(107, 137, 182);
  transform: translate(331px, 69px);
}

.content .content__choose .container .content__choose-center .center .circle-small:nth-child(3)::before {
  background: linear-gradient(to bottom, rgb(116, 139, 173), rgb(107, 137, 182));
}

.content .content__choose .container .content__choose-center .center .circle-small:nth-child(4) {
  border-color: rgb(31, 136, 166);
  top: 50%;
  transform: translate(-15px, -50%);
}

.content .content__choose .container .content__choose-center .center .circle-small:nth-child(4)::before {
  background: linear-gradient(to bottom, rgb(37, 130, 164), rgb(31, 136, 166));
}

.content .content__choose .container .content__choose-center .center .circle-small:nth-child(5) {
  border-color: rgb(78, 88, 113);
  top: 50%;
  transform: translate(15px, -50%);
  right: 0;
}

.content .content__choose .container .content__choose-center .center .circle-small:nth-child(5)::before {
  background: linear-gradient(to bottom, rgb(75, 84, 113), rgb(78, 88, 113));
}

.content .content__choose .container .content__choose-center .center .circle-small:nth-child(6) {
  border-color: rgb(47, 84, 103);
  transform: translate(16px, 279px);
}

.content .content__choose .container .content__choose-center .center .circle-small:nth-child(6)::before {
  background: linear-gradient(to bottom, rgb(46, 83, 110), rgb(47, 84, 103));
}

.content .content__choose .container .content__choose-center .center .circle-small:nth-child(7) {
  border-color: rgb(48, 58, 67);
  transform: translate(331px, 279px);
}

.content .content__choose .container .content__choose-center .center .circle-small:nth-child(7)::before {
  background: linear-gradient(to bottom, rgb(48, 57, 66), rgb(48, 58, 67));
}

.content .content__choose .container .content__choose-center .center .circle-center ul.slide {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 58px;
}

.content .content__choose .container .content__choose-center .center .circle-center ul.slide li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  list-style: none;
  display: inline-block;
  margin: 4px;
}

.content .content__choose .container .content__choose-center .center .circle-center ul.slide li:nth-child(1) {
  background: linear-gradient(to bottom, rgb(12, 171, 175), rgb(2, 174, 178));
}

.content .content__choose .container .content__choose-center .center .circle-center ul.slide li:nth-child(2) {
  background: linear-gradient(to bottom, rgb(116, 139, 173), rgb(107, 137, 182));
}

.content .content__choose .container .content__choose-center .center .circle-center ul.slide li:nth-child(3) {
  background: linear-gradient(to bottom, rgb(37, 130, 164), rgb(31, 136, 166));
}

.content .content__choose .container .content__choose-center .center .circle-center ul.slide li:nth-child(4) {
  background: linear-gradient(to bottom, rgb(75, 84, 113), rgb(78, 88, 113));
}

.content .content__choose .container .content__choose-center .center .circle-center ul.slide li:nth-child(5) {
  background: linear-gradient(to bottom, rgb(46, 83, 110), rgb(47, 84, 103));
}

.content .content__choose .container .content__choose-center .center .circle-center ul.slide li:nth-child(6) {
  background: linear-gradient(to bottom, rgb(48, 57, 66), rgb(48, 58, 67));
}

.content .content__price .container .content__price-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 40px;
}

.content .content__price .container .content__price-table .child h3 {
  font-weight: 800;
  font-size: 22px;
  color: rgb(3, 27, 78);
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}

.content .content__price {
  box-sizing: border-box;
  padding: 40px 0;
}

.content .content__price .container .content__price-table .child img {
  max-width: 100%;
  min-width: 100%;
}

.content .content__price {
  background-color: rgb(245, 245, 245);
}

.content .content__price .container .content__price-table .child h3 .svg {
  position: absolute;
  left: 75px;
  top: -10px;
}

.content .content__price .container .content__price-table .child:nth-child(4) h3 .svg,
.content .content__price .container .content__price-table .child:nth-child(3) h3 .svg {
  position: absolute;
  left: 110px;
  top: -10px;
}

.content .content__price .container .content__price-table .child h3 .svg svg:first-child {
  transform: translateX(6px);
}

.content .content__home .container .content__home-child .center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 246px 246px;
  gap: 15px;
}

.content .content__home .container .content__home-child .center .child:nth-child(1) {
  grid-area: 1/1/3/3;
}

.content .content__home .container .content__home-child .center .child {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.content .content__home .container .content__home-child .center .child img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: 0.3s;
}

.content .content__home .container .content__home-child .center .child .ct {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.content .content__home .container .content__home-child .center .child h1 {
  margin: 0;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.content .content__home .container .content__home-child .center .child:nth-child(1) h1 {
  padding: 20px;
  font-size: 25px;
}

.content .content__home .container .content__home-child .center .child:nth-child(2) h1,
.content .content__home .container .content__home-child .center .child:nth-child(3) h1 {
  padding: 10px;
  font-size: 17px;
}

.content .content__home .container .content__home-child .center .child img:hover {
  transform: translate(-50%, -50%) scale(1.1);
  top: 50%;
  left: 50%;
}

.content .content__home .container .content__home-child .list {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 30px 0 40px 0;
  box-sizing: border-box;
}

.content .content__home .container .content__home-child .list li {
  display: inline-block;
  margin: 3px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}

.content .content__home .container .content__home-child .list li:nth-child(1) {
  background-color: rgb(77, 91, 123);
}

.content .content__location {
  background-color: rgb(245, 245, 245);
}

.content .content__location .container .content__location-child .center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 214px 214px;
  gap: 15px;
}

.content .content__location .container .content__location-child .center .child {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.content .content__location .container .content__location-child .center .child img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content .content__location .container .content__location-child .center .child .ct {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.content .content__location .container .content__location-child .center .child .ct svg {
  margin: 0 15px;
}

.content .content__location .container .content__location-child .center .child .ct h4 {
  margin: 0;
}

.content .content__location .container .content__location-child .center .child .ct::before {
  position: absolute;
  content: "";
  width: 94%;
  height: 90%;
  border-radius: 5px;
  border: 1px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content .content__banner2 img {
  width: 100%;
  height: auto;
}

.content .content__news .container .content__news-child .center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-bottom: 180px;
}

.content .content__news .container .content__news-child .center .child .img {
  background-size: cover;
  background-position: center;
  padding-bottom: 59%;
  max-width: 100%;
  border-radius: 10px;
}

.content .content__news .container .content__news-child .center .child:nth-child(1) .img {
  background-image: url(../img/event1.jpg);
}

.content .content__news .container .content__news-child .center .child:nth-child(2) .img {
  background-image: url(../img/event2.jpg);
}

.content .content__news .container .content__news-child .center .child:nth-child(3) .img {
  background-image: url(../img/event3.jpg);
}

.content .content__news .container .content__news-child .center .child p:nth-child(1) {
  color: rgb(3, 27, 78);
  font-weight: 700;
  font-size: 14px;
  font-family: "SF Pro Display", sans-serif;
}

.content .content__news .container .content__news-child .center .child p:nth-child(2) {
  color: rgb(77, 91, 123);
  font-weight: 400;
  font-size: 12px;
}

.content .content__news .container .content__news-child .center .child button {
  padding: 9px 20px;
  background: #1ECB15;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 550;
}

.content .content__news .container .content__news-child .center .child {
  position: relative;
}

.content .content__news .container .content__news-child .center .child .ct {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-55px);
  background-color: #fff;
  border-radius: 10px;
  padding: 0 20px;
  box-sizing: border-box;
}

.content .content__news .container .content__news-child .center .child .ct::before {
  position: absolute;
  content: "";
  width: calc(100% - 50px);
  height: 1.5px;
  background: #1ECB15;
  bottom: -20px;
}

@media (max-width: 740px) {
  .content .content__banner {
    height: 540px;
  }
  .content .content__banner .content__banner-text .container .img-car img {
    width: 100%;
  }
  .content .content__banner .content__banner-text .container {
    padding-top: 30px;
  }
  .content .content__banner .content__banner-text .container h2#car {
    font-size: 20px;
  }
  .content .content__banner .content__banner-text .container h1#text-car {
    font-size: 35px;
  }
  .content .content__banner .content__banner-text .container h1#tag {
    font-size: 20px;
  }
  .content .content__banner .content__banner-text .container p,
  .content .content__banner .radial,
  .content .content__banner .content__banner-text .container .sale,
  .content .content__banner .content__banner-text .container svg#front {
    display: none;
  }
  .content .content__banner .content__banner-text .container h2 {
    margin-bottom: 0;
  }
  .content .content__banner .content__banner-text .container .div {
    width: 100%;
    line-height: 40px;
  }
  .linear-left {
    left: 20px;
    top: 50%;
  }
  .linear-mid {
    left: -5px;
    width: 20px;
    top: 50%;
  }
  .linear-right {
    top: 50%;
  }
  .content .content__banner .content__banner-text .container .img-car {
    top: 270px;
  }
  .content .content__banner .content__banner-text .container .div button {
    transform: translate(0);
    margin-top: 20px;
  }
  .content .content__banner .content__banner-text .container .div button::before,
  .content .content__banner .content__banner-text .container .div button::after {
    transform: translateX(-50%);
    left: 50%;
  }
  .content .content__banner .content__banner-text .container svg#text {
    width: 100%;
    left: 0;
  }
  .content .content__banner .content__banner-text .container svg#linear1 {
    left: 0;
    width: 100%;
    top: 464px;
  }
  .content .content__banner .content__banner-text .container svg#linear2 {
    left: 0;
    width: 100%;
    top: 464px;
  }
  .content .content__banner .cover {
    height: 540px;
  }
  .content .content__about .container {
    display: block;
  }
  .content .content__about .container .box {
    padding: 30px 0;
  }
  .content .content__about .container .box:nth-child(2) .infor .parent .parent-child {
    display: flex;
    flex-direction: column;
  }
  .content .content__service .container .content__service-title h1,
  .content .content__choose .container .content__choose-title h1,
  .content .content__home .container .content__home-child .title h1,
  .content .content__location .container .content__location-child .title h1,
  .content .content__news .container .content__news-child .title h1 {
    text-align: center;
  }
  .content .content__service .container .content__service-box {
    display: block;
  }
  .content .content__service .container .content__service-box .child {
    margin-bottom: 30px;
  }
  .content .content__service .container .button {
    padding: 10px 0 40px 0;
  }
  .content .content__choose .container .content__choose-center .center,
  .content .content__choose .container .content__choose-center .circle-child:nth-child(2) .child:nth-child(1)::before,
  .content .content__choose .container .content__choose-center .circle-child:nth-child(2) .child:nth-child(2)::before,
  .content .content__choose .container .content__choose-center .circle-child:nth-child(3) .child:nth-child(1)::before,
  .content .content__choose .container .content__choose-center .circle-child:nth-child(3) .child:nth-child(2)::before,
  .content .content__choose .container .content__choose-center .circle-child:nth-child(4) .child:nth-child(1)::before,
  .content .content__choose .container .content__choose-center .circle-child:nth-child(4) .child:nth-child(2)::before {
    display: none;
  }
  .content .content__choose .container .content__choose-center .circle-child {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 0;
    margin-bottom: 30px;
  }
  .content .content__choose .container .content__choose-center .circle-child:last-child {
    margin: 0;
  }
  .content .content__choose .container .content__choose-center .circle-child:nth-child(2) .child:nth-child(1),
  .content .content__choose .container .content__choose-center .circle-child:nth-child(2) .child:nth-child(2),
  .content .content__choose .container .content__choose-center .circle-child:nth-child(4) .child:nth-child(1),
  .content .content__choose .container .content__choose-center .circle-child:nth-child(4) .child:nth-child(2) {
    margin: 0;
  }
  .content .content__choose .container .content__choose-center .circle-child .child {
    max-width: 100%;
  }
  .content .content__price .container .content__price-table {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .content .content__price .container .content__price-table .child h3 {
    margin-bottom: 20px;
  }
  .content .content__price .container .content__price-table .child h3 .svg,
  .content .content__price .container .content__price-table .child:nth-child(4) h3 .svg,
  .content .content__price .container .content__price-table .child:nth-child(3) h3 .svg {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .content .content__home .container .content__home-child .center {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 100px;
    gap: 10px;
  }
  .content .content__home .container .content__home-child .center .child:nth-child(1) {
    grid-area: 1/1/2/3;
  }
  .container .content__home-child .center .child:nth-child(3) h1,
  .container .content__home-child .center .child:nth-child(2) h1 {
    font-size: 11px !important;
  }
  .container .content__home-child .center .child:nth-child(1) h1 {
    font-size: 17px !important;
  }
  .content .content__home .container .content__home-child .list {
    margin: 30px 0;
  }
  .content .content__location .container .content__location-child .center {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 214px 214px 214px 214px 214px 214px;
  }
  .content .content__news .container .content__news-child .center {
    grid-template-columns: repeat(1, 1fr);
    gap: 160px;
  }
  .footer .container .top {
    display: block !important;
  }
  .footer .container .top .footer__about,
  .footer .container .top .footer__infor,
  .footer .container .top .footer__associate,
  .footer .container .top .footer__fanpage {
    width: 100% !important;
  }
  .footer .container .top .footer__about h4,
  .footer .container .top .footer__infor h4,
  .footer .container .top .footer__associate h4,
  .footer .container .top .footer__fanpage h4 {
    text-align: center;
  }
  .footer .container .top .footer__fanpage img {
    position: static !important;
  }
  .footer .container .bottom {
    flex-direction: column;
  }
  .content {
    margin-top: 81.34px;
  }
}
.content .content__service .container .content__service-box .child:hover {
  transform: scale(1.1);
}

.content .content__service .container .content__service-box .child {
  transition: 0.5s;
}

.rung {
  margin-top: 23px;
  animation: rung 1.5s infinite;
}

@keyframes rung {
  0% {
    -webkit-transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(-25deg);
  }
  20% {
    -webkit-transform: rotate(25deg);
  }
  30% {
    -webkit-transform: rotate(-25deg);
  }
  40% {
    -webkit-transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
  }
}
.content .content__banner .content__banner-text .container svg#front {
  animation: topBottom 1s infinite alternate;
}

@keyframes topBottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
.content .content__location .container .content__location-child .center .child .ct:hover {
  background: rgba(0, 0, 0, 0.7);
}

.content .content__location .container .content__location-child .center .child .ct:hover h4,
.content .content__location .container .content__location-child .center .child .ct:hover svg {
  transform: translateY(-50px);
}

.content .content__location .container .content__location-child .center .child .ct,
.content .content__location .container .content__location-child .center .child .ct h4,
.content .content__location .container .content__location-child .center .child svg,
.content .content__location .container .content__location-child .center .child .ct .ct-child {
  transition: 0.5s;
}

.content .content__location .container .content__location-child .center .child .ct .ct-child {
  position: absolute;
  align-items: center;
  justify-content: center;
  transform: translateY(50px);
  opacity: 0;
}

.content .content__location .container .content__location-child .center .child .ct:hover .ct-child {
  display: block;
  transform: translateY(0);
  opacity: 1;
}

.content .content__location .container .content__location-child .center .child .ct p {
  font-size: 12px;
  text-align: center;
  padding: 0 50px;
}

.content .content__location .container .content__location-child .center .child .ct p span {
  font-weight: 600;
  color: rgb(14, 166, 233);
}

.content .content__location .container .content__location-child .center .child .ct .detail {
  display: flex;
  justify-content: center;
}

.content .content__location .container .content__location-child .center .child .ct .detail button {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  padding: 8px 23px;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 8px;
}

.content .content__service .container .button button,
.content .content__location .container .button button {
  transition: 0.3s;
}

.content .content__service .container .button button:hover,
.content .content__location .container .button button:hover {
  transform: scale(1.1);
}

.content .content__banner2 {
  position: relative;
}

.content .content__banner2::after {
  position: absolute;
  content: "";
  width: 200px;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  mix-blend-mode: overlay;
  top: 0;
  bottom: 0;
  left: -200px;
}

.content .content__banner2:hover::after {
  animation: light 1s forwards;
}

@keyframes light {
  to {
    transform: translateX(1500px);
  }
}
.contact {
  position: fixed;
  background: linear-gradient(to bottom, rgb(12, 171, 175), rgb(2, 174, 178));
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 100%;
  animation: phone-animation 1.5s infinite;
}

.contact i {
  font-size: 20px;
}

.contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(64, 197, 184, 0.2);
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: scaleCall 1.5s ease-in-out infinite;
}

@keyframes scaleCall {
  0% {
    transform: scale(1.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.7);
  }
}
@keyframes phone-animation {
  0% {
    -webkit-transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(-25deg);
  }
  20% {
    -webkit-transform: rotate(25deg);
  }
  30% {
    -webkit-transform: rotate(-25deg);
  }
  40% {
    -webkit-transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
  }
}
.footer .container .top {
  display: flex;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1.5px solid #1ECB15;
}

.footer {
  background-color: rgb(18, 18, 18);
}

.footer .container .top h4 {
  color: #fff;
}

.footer .container .top .footer__about {
  width: 30%;
}

.footer .container .top .footer__about p {
  font-size: 13px;
  line-height: 1.8em;
  color: rgb(185, 185, 185);
}

.footer .container .top .footer__about .footer__about-social {
  margin-top: 30px;
}

.footer .container .top .footer__about i {
  color: #1ECB15;
  width: 39.2px;
  height: 39.2px;
  margin: 5px 10px 5px 0;
  background: rgb(42, 42, 42);
  text-align: center;
  line-height: 39.2px;
  border-radius: 5px;
}

.footer .container .top .footer__infor {
  width: 30%;
}

.footer .container .top .footer__infor i {
  color: #1ECB15;
}

.footer .container .top .footer__infor p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.footer .container .top .footer__infor p span {
  font-weight: 400;
  color: rgb(185, 185, 185);
  line-height: 1.8em;
}

.footer .container .top .footer__associate {
  width: 10%;
}

.footer .container .top .footer__associate ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .container .top .footer__associate ul li {
  color: #fff;
  font-size: 13px;
  line-height: 2.5em;
  font-weight: 700;
}

.footer .container .top .footer__fanpage {
  width: 30%;
  position: relative;
}

.footer .container .top .footer__fanpage img {
  position: absolute;
  width: 100%;
}

.footer .container .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 12px;
  padding: 10px 0;
}

.footer .container .bottom i {
  font-size: 20px;
}

.footer .container .top .footer__about i:hover {
  filter: brightness(1.5);
}/*# sourceMappingURL=index.css.map */